<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>

	<body style="text-align:left;">
		<h1 style="color:black;"><%= title %></h1>
		<p> Realize o cadastro do novo produto abaixo</p>
		<form action="<%= action %>" method="POST" onSubmit="return CheckEmpty(this)">
			<p>
				<input id="name" type="text" name="name" value="<%= doc.name %>" placeholder="Nome do produto" size="50" maxlength="15"/>
			</p>
			<p>
				<input id="code" type="number" class="input-number" name="code" value="<%= doc.code %>" placeholder="Código do produto" size="50" maxlength="15"/>
			</p>
			<p>
				<input id="price" type="number" name="price" value="<%= doc.price %>" step="0.01" placeholder="Preço do produto" size="50" maxlength="15"/>
			</p>
			<p>
				<textarea id="description" type="text" name="description" placeholder="Descrição do produto" cols="50" rows="7" style="resize: none" maxlength="50"><%= doc.description %></textarea>	
			</p>
			
			<p>
				<input type="submit" value="Salvar"/>
			</p>
		</forms>
		
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
		
		<script>
			function CheckEmpty(form) {
				if (document.getElementById("name").value === "" || document.getElementById("code").value === "" || document.getElementById("price").value === "" || document.getElementById("description").value === ""){ 
					alert("Preencha todos os campos");
					return false;
					}
			}
		</script>			
	</body>
</html>
