<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body style="text-align:left;">
		<h1 style="color:black;"><%= title %></h1>
		<ul>
			<fieldset>
				<legend>
					Selecione os usuários a serem removidos:
					<form action="delete" method="POST">
						<input type="hidden" id="hiddenform" name="id" value="" size ="15" />
						<input type="submit" id="sub1" onClick="remove()" value="Remove" style="float: right; font-size: 15px;"/>
					</forms>
				</legend>
				
				</br>
				
				<table class="table table-hover" style="float: right; font-size: 15px;">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nome</th>
							<th scope="col">Código</th>
							<th scope="col">Preço</th>
							<th scope="col">Descrição</th>
							<th ><input type="checkbox" id="scales" name="scales" onClick="selectAll(this)" /></th>
						</tr>
					</thead>
					<tbody>		
						<ul>
							<% 
							docs.forEach(
								function(customer,index){ 
									%>
									<tr>
										<td>
											<label for="scales"><%= index + 1 %></label>
										</td>
										<td>
											<label for="scales"><%= customer.name %></label>
										</td>
										<td>
											<label for="scales"><%= customer.code %></label>
										</td>
										<td>
											<label for="scales"><%= customer.price %></label>
										</td>
										<td>
											<label for="scales"><%= customer.description %></label>
										</td>
										<td>
											<input type="checkbox" id="<%= customer._id %>" name="boxes"/>
										</td>
									</tr>
									<%
								}
							) 
							%>
						</tr>
					</tbody>
				</table>
			</fieldset>

			<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>

			<table class="table table-hover">				<! tabela com borda > 
				<tbody>
					<th scope="row"><a href="/">Início</a></th>
				</tbody>
			</table>
		</ul>		
	</body>
	<script language="JavaScript">
	var delete_costumers = []
	
	function selectAll(source) {
	  checkboxes = document.getElementsByName('boxes');
	  for(var i=0, n=checkboxes.length; i<n; i++) {
		checkboxes[i].checked = source.checked;
	  }
	}
	
	function remove() {
		if(confirm('Tem certeza que deseja remover esses usuários?')) {
			checkboxes = document.getElementsByName('boxes');
			ids = [checkboxes.length]
			for(var i=0, n=checkboxes.length; i<n; i++) {
				if (checkboxes[i].checked === true)
					ids[i] = checkboxes[i].id;
				else
					ids[i] = 0;
			}
			let hiddenform = document.getElementById("hiddenform");
			hiddenform.value = ids;
		}
		else{
			event.preventDefault()			
		}
	}
	</script>
</html>


