<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body style="text-align:left;">
		<h1 style="color:black;"><%= title %></h1>
		<div id="content">
			<img src="/NS_logo.png" width="160" height="160" />
		</div>
		
		<div class="menu">	
			<table class="table table-hover">				<! tabela sem borda >
				<thead>
					<tr>
						<th scope="col"><a href="/">Início</a></th>
						<th scope="col"><a href="/remove">Remover Produto</a></th>
					</tr>
				</thead>
			</table>
		</div>
		
		<ul>
			<fieldset>
				<legend>
					Tabela de Produtos Cadastrados
				</legend>
				
				</br>
				
				<table class="table table-hover" style="float: right; font-size: 15px;">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nome</th>
							<th scope="col">Código</th>
							<th scope="col">Preço</th>
							<th scope="col">Descrição</th>
							<th ></th>
						</tr>
					</thead>
					<tbody>	
							<% 
							docs.forEach(
								function(products,index){ 
									%>
									<tr>
										<td>
											<label for="scales"><%= index + 1 %></label>
										</td>
										<td>
											<label for="scales"><%= products.name %></label>
										</td>
										<td>
											<label for="scales"><%= products.code %></label>
										</td>
										<td>
											<label for="scales"><%= products.price %></label>
										</td>
										<td>
											<label for="scales"><%= products.description %></label>
										</td>
									</tr>
									<%
								}
							) 
							%>
						</tr>
					</tbody>
				</table>
			</fieldset>

			<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
			
		</ul>		
	</body>
</html>


